@import '_vars';

.body {
	flex: 0.8;
	background: linear-gradient($purple, rgba(0, 0, 0, 1));
	height: 100vh;
	color: white;
	padding: 30px;
	overflow-y: scroll;
	scrollbar-width: none;
	-ms-overflow-style: none;
	&::-webkit-scrollbar {
		display: none;
	}

	.songs {
		// wait
		margin: 20px -30px;

		.icons {
			display: flex;
			align-items: center;
			.shuffle {
				font-size: 80px !important;
				margin: 20px 0 20px 50px;
				&:hover {
					transition: 0.1s transform ease-in;
					transform: scale(1.08);
				}
			}
			.MuiSvgIcon-root {
				margin-right: 20px;
			}
		}
	}
}

.body__info {
	display: flex;
	align-items: flex-end;
	padding: 10px;
	img {
		height: 20vw;
		margin: 0 20px;
		box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
	}
	.body__infoText {
		flex: 1;
		h2 {
			font-size: 48px;
			margin-bottom: 10px;
		}
		p {
			font-size: 14px;
		}
	}
}
