.player .player__body {
  display: flex; }

.loading {
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: #282828; }
  .loading h1 {
    color: white;
    text-align: center; }
